In [ ]:
import ast
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
import tensorflow as tf
import tensorflow.keras.backend as K
import warnings
warnings.filterwarnings('ignore')

from collections import Counter
from random import randint, random
from scipy.sparse import coo_matrix, hstack
from sklearn.metrics.pairwise import euclidean_distances, cosine_distances, cosine_similarity
from tensorflow import keras
from tqdm import tqdm

## Считаем препроцессные данные из прошлого ноутбучка

In [19]:
interactions_df = pd.read_csv('/kaggle/input/processed/interactions_processed_kion.csv')
users_df = pd.read_csv('/kaggle/input/processed/users_processed_kion.csv')
items_df = pd.read_csv('/kaggle/input/processed/items_processed_kion.csv')

In [20]:
users_df.head()

   user_id        age        income sex  kids_flg
0   973171  age_25_34  income_60_90   M      True
1   962099  age_18_24  income_20_40   M     False
2  1047345  age_45_54  income_40_60   F     False
3   721985  age_45_54  income_20_40   F     False
4   704055  age_35_44  income_60_90   F     False

In [21]:
items_df = items_df.rename(columns = {'id' : 'item_id'})

In [22]:
items_df.head()

,item_id,content_type,title,title_orig,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords,release_year_cat
0,10711,film,поговори с ней,Hable con ella,"драмы, зарубежные, детективы, мелодрамы",испания,False,16.0,unknown,педро альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ...",2000-2010
1,2508,film,голые перцы,Search Party,"зарубежные, приключения, комедии",сша,False,16.0,unknown,скот армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео...",2010-2020
2,10716,film,тактическая сила,Tactical Force,"криминал, зарубежные, триллеры, боевики, комедии",канада,False,16.0,unknown,адам п. калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг...",2010-2020
3,7868,film,45 лет,45 Years,"драмы, зарубежные, мелодрамы",великобритания,False,16.0,unknown,эндрю хэй,"Александра Риддлстон-Барретт, Джеральдин Джейм...","Шарлотта Рэмплинг, Том Кортни, Джеральдин Джей...","45, лет, 2015, Великобритания, брак, жизнь, лю...",2010-2020
4,16268,film,все решает мгновение,NaN,"драмы, спорт, советские, мелодрамы",ссср,False,12.0,ленфильм,виктор садовский,"Александр Абдулов, Александр Демьяненко, Алекс...",Расчетливая чаровница из советского кинохита «...,"Все, решает, мгновение, 1978, СССР, сильные, ж...",1970-1980

In [23]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250           72
1   699317     1659    2021-05-29       8317          100
2   656683     7107    2021-05-09         10            0
3   864613     7638    2021-07-05      14483          100
4   964868     9506    2021-04-30       6725          100

## Готовим фичи пользователей

Посмотрим, какие фичи в датасете фильмов являются категориальными и закодируем их с помощью one-hot encoding.

In [24]:
user_cat_feats = ["age", "income", "sex", "kids_flg"]
# из исходного датафрейма оставим только item_id - этот признак нам понадобится позже
# для того, чтобы маппить айтемы из датафрейма с фильмами с айтемами 
# из датафрейма с взаимодействиями
users_ohe_df = users_df.user_id
for feat in user_cat_feats:
    # получаем датафрейм с one-hot encoding для каждой категориальной фичи
    ohe_feat_df = pd.get_dummies(users_df[feat], prefix=feat)
    # конкатенируем ohe-hot датафрейм с датафреймом, 
    # который мы получили на предыдущем шаге
    users_ohe_df = pd.concat([users_ohe_df, ohe_feat_df], axis=1)

users_ohe_df.head()

,user_id,age_age_18_24,age_age_25_34,age_age_35_44,age_age_45_54,age_age_55_64,age_age_65_inf,age_age_unknown,income_income_0_20,income_income_150_inf,income_income_20_40,income_income_40_60,income_income_60_90,income_income_90_150,income_income_unknown,sex_F,sex_M,sex_sex_unknown,kids_flg_False,kids_flg_True
0,973171,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,True
1,962099,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,False
2,1047345,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,True,False
3,721985,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,True,False
4,704055,False,False,True,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False

## Готовим фичи айтемов

Кодируем их точно так же - one-hot'ом.

### Добавим текстовых признаков

In [25]:
def apply_tfidf_transform(input_dataframe, feature_column, features_limit=500):
    tfidf_creator = TfidfVectorizer(max_features=features_limit)
    tfidf_data = tfidf_creator.fit_transform(input_dataframe[feature_column])
    column_labels = [f'{feature_column}_feature_{idx}' for idx in range(tfidf_data.shape[1])]
    return pd.DataFrame(tfidf_data.toarray(), columns=column_labels)

In [ ]:
for category in ['genres', 'keywords']:
    transformed_data = apply_tfidf_transform(items_df, category)
    items_ohe_df = pd.concat([items_ohe_df, transformed_data], axis=1)

In [26]:
item_cat_feats = ['content_type', 'release_year_cat',
                  'for_kids', 'age_rating', 
                  'studios', 'countries', 'directors']

items_ohe_df = items_df.item_id

for feat in item_cat_feats:
    ohe_feat_df = pd.get_dummies(items_df[feat], prefix=feat)
    items_ohe_df = pd.concat([items_ohe_df, ohe_feat_df], axis=1) 

items_ohe_df.head()

,item_id,content_type_film,content_type_series,release_year_cat_1920-1930,release_year_cat_1930-1940,release_year_cat_1940-1950,release_year_cat_1950-1960,release_year_cat_1960-1970,release_year_cat_1970-1980,release_year_cat_1980-1990,...,directors_ярив хоровиц,directors_ярон зильберман,directors_ярополк лапшин,directors_ярослав лупий,"directors_ярроу чейни, скотт моужер",directors_ясина сезар,directors_ясуоми умэцу,"directors_ёдзи фукуяма, ацуко фукусима, николас де креси, синъитиро ватанабэ, сёдзи кавамори",directors_ёлкин туйчиев,directors_ён сан-хо
0,10711,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2508,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,10716,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,7868,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,16268,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

## Сделаем матрицу взаимодействий

In [27]:
interactions_df.item_id.value_counts()

item_id
10440    202457
15297    193123
9728     132865
13865    122119
4151      91167
          ...
8076          1
8954          1
15664         1
818           1
10542         1
Name: count, Length: 15706, dtype: int64

В датасете взаимодействий есть непопулярные фильмы и малоактивные пользователи. Кроме того, в таблице взаимодействий есть события с низким качеством взаимодействия - когда юзер начал смотреть фильм, но вскоре после начала просмотра выключил.

Отфильтруем такие события*, малоактивных юзеров и непопулярные фильмы.

Можете не фильтровать такие события, тогда у вас будет больше негативных примеров.

In [28]:
interactions_df.user_id.value_counts()

user_id
416206     1341
1010539     764
555233      685
11526       676
409259      625
           ...
45493         1
615194        1
96848         1
425823        1
697262        1
Name: count, Length: 962179, dtype: int64

In [29]:
print(f"N users before: {interactions_df.user_id.nunique()}")
print(f"N items before: {interactions_df.item_id.nunique()}\n")

# отфильтруем все события взаимодействий, в которых пользователь посмотрел
# фильм менее чем на 10 процентов
interactions_df = interactions_df[interactions_df.watched_pct > 10]

# соберем всех пользователей, которые посмотрели 
# больше 10 фильмов (можете выбрать другой порог)
valid_users = []

c = Counter(interactions_df.user_id)
for user_id, entries in c.most_common():
    if entries > 10:
        valid_users.append(user_id)

# и соберем все фильмы, которые посмотрели больше 10 пользователей
valid_items = []

c = Counter(interactions_df.item_id)
for item_id, entries in c.most_common():
    if entries > 10:
        valid_items.append(item_id)

# отбросим непопулярные фильмы и неактивных юзеров
interactions_df = interactions_df[interactions_df.user_id.isin(valid_users)]
interactions_df = interactions_df[interactions_df.item_id.isin(valid_items)]

print(f"N users after: {interactions_df.user_id.nunique()}")
print(f"N items after: {interactions_df.item_id.nunique()}")

N users before: 962179
N items before: 15706

N users after: 79515
N items after: 6901

После фильтрации может получиться так, что некоторые айтемы/юзеры есть в датасете взаимодействий, но при этом они отсутствуют в датасетах айтемов/юзеров или наоборот. Поэтому найдем id айтемов и id юзеров, которые есть во всех датасетах и оставим только их.

In [30]:
common_users = set(interactions_df.user_id.unique()).intersection(set(users_ohe_df.user_id.unique()))
common_items = set(interactions_df.item_id.unique()).intersection(set(items_ohe_df.item_id.unique()))

print(len(common_users))
print(len(common_items))

interactions_df = interactions_df[interactions_df.item_id.isin(common_items)]
interactions_df = interactions_df[interactions_df.user_id.isin(common_users)]

items_ohe_df = items_ohe_df[items_ohe_df.item_id.isin(common_items)]
users_ohe_df = users_ohe_df[users_ohe_df.user_id.isin(common_users)]

65974
6901

Соберем взаимодействия в матрицу user*item так, чтобы в строках этой матрицы были user_id, в столбцах - item_id, а на пересечениях строк и столбцов - единица, если пользователь взаимодействовал с айтемом и ноль, если нет.

Такую матрицу удобно собирать в numpy array, однако нужно помнить, что numpy array индексируется порядковыми индексами, а нам же удобнее использовать item_id и user_id.

Создадим некие внутренние индексы для user_id и item_id - uid и iid. Для этого просто соберем все user_id и item_id и пронумеруем их по порядку.

In [31]:
interactions_df["uid"] = interactions_df["user_id"].astype("category")
interactions_df["uid"] = interactions_df["uid"].cat.codes

interactions_df["iid"] = interactions_df["item_id"].astype("category")
interactions_df["iid"] = interactions_df["iid"].cat.codes

print(sorted(interactions_df.iid.unique())[:5])
print(sorted(interactions_df.uid.unique())[:5])
interactions_df.head()

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

    user_id  item_id last_watch_dt  total_dur  watched_pct    uid   iid
0    176549     9506    2021-05-11       4250           72  10616  3944
1    699317     1659    2021-05-29       8317          100  42131   675
6   1016458      354    2021-08-14       1672           25  61024   139
7    884009      693    2021-08-04        703           14  53150   279
14     5324     8437    2021-04-18       6598           92    310  3485

Отнормируем матрицу взаимодействий + учтем не просто взаимодействие, а время взаимодсействия ну как в целом в лекции и говорились, что тут можно использовать что-то кроме 1

In [32]:
interactions_vec = np.zeros((interactions_df.uid.nunique(), 
                             interactions_df.iid.nunique())) 

for user_id, item_id, watched_pct in zip(interactions_df.uid, interactions_df.iid, interactions_df.watched_pct):
    interactions_vec[user_id, item_id] += watched_pct / 100


res = interactions_vec.sum(axis=1)
for i in range(len(interactions_vec)):
    interactions_vec[i] /= res[i]

In [37]:
print(interactions_df.item_id.nunique())
print(items_ohe_df.item_id.nunique())
print(interactions_df.user_id.nunique())
print(users_ohe_df.user_id.nunique())

print(set(items_ohe_df.item_id.unique()) - set(interactions_df.item_id.unique()))

6897
6897
65974
65974
set()

In [36]:
items_ohe_df = items_ohe_df[~items_ohe_df.item_id.isin([11805, 9788, 11501, 1734])]

Для того, чтобы можно было удобно превратить iid/uid в item_id/user_id и наоборот соберем словари 

{iid: item_id}, {uid: user_id} и {item_id: iid}, {user_id: uid}.

In [38]:
iid_to_item_id = interactions_df[["iid", "item_id"]].drop_duplicates().set_index("iid").to_dict()["item_id"]
item_id_to_iid = interactions_df[["iid", "item_id"]].drop_duplicates().set_index("item_id").to_dict()["iid"]

uid_to_user_id = interactions_df[["uid", "user_id"]].drop_duplicates().set_index("uid").to_dict()["user_id"]
user_id_to_uid = interactions_df[["uid", "user_id"]].drop_duplicates().set_index("user_id").to_dict()["uid"]

In [39]:
items_ohe_df["iid"] = items_ohe_df["item_id"].apply(lambda x: item_id_to_iid[x])
items_ohe_df = items_ohe_df.set_index("iid")

users_ohe_df["uid"] = users_ohe_df["user_id"].apply(lambda x: user_id_to_uid[x])
users_ohe_df = users_ohe_df.set_index("uid")

И проиндексируем датасеты users_ohe_df и items_ohe_df по внутренним айди:

In [40]:
def triplet_loss(y_true, y_pred, n_dims=128, alpha=0.4):
    # будем ожидать, что на вход функции прилетит три сконкатенированных 
    # вектора - вектор юзера и два вектора айтема
    anchor = y_pred[:, 0:n_dims]
    positive = y_pred[:, n_dims:n_dims*2]
    negative = y_pred[:, n_dims*2:n_dims*3]

    # считаем расстояния от вектора юзера до вектора хорошего айтема
    pos_dist = K.sum(K.square(anchor - positive), axis=1)
    # и до плохого
    neg_dist = K.sum(K.square(anchor - negative), axis=1)

    # считаем лосс
    basic_loss = pos_dist - neg_dist + alpha
    loss = K.maximum(basic_loss, 0.0) # возвращаем ноль, если лосс отрицательный
 
    return loss

Попробуйте другие лоссы, например, BPR Triplet loss

## Генератор и семплирование

Сделаем простой генератор. Он будет брать рандромного юзера, и два разных айтема - хороший пример и плохой:
- хорошим примером будет тот айтем, который был взят из датасета взаимодействий в соответствии с распределением просмотренных айтемов для этого юзера;
- а плохим айтемом будет просто любой другой _случайный айтем_*

In [41]:
def generator(items, users, interactions, batch_size=1024):
    while True:
        uid_meta = []
        uid_interaction = []
        pos = []
        neg = []
        for _ in range(batch_size):
            # берем рандомный uid
            uid_i = randint(0, interactions.shape[0]-1)
            # id хорошего айтема
            pos_i = np.random.choice(range(interactions.shape[1]), p=interactions[uid_i])
            # id плохого айтема
            neg_i = np.random.choice(range(interactions.shape[1]))
            # фичи юзера
            uid_meta.append(users.iloc[uid_i])
            # вектор айтемов, с которыми юзер взаимодействовал
            uid_interaction.append(interactions_vec[uid_i])
            # фичи хорошего айтема
            pos.append(items.iloc[pos_i])
            # фичи плохого айтема
            neg.append(items.iloc[neg_i])
            
        yield [np.array(uid_meta), np.array(uid_interaction), np.array(pos), np.array(neg)], [np.array(uid_meta), np.array(uid_interaction)]

In [42]:
# инициализируем генератор
gen = generator(items=items_ohe_df.drop(["item_id"], axis=1), 
                users=users_ohe_df.drop(["user_id"], axis=1), 
                interactions=interactions_vec)

ret = next(gen)


print(f"вектор фичей юзера: {ret[0][0].shape}")
print(f"вектор взаимодействий юзера с айтемами: {ret[0][1].shape}")
print(f"вектор 'хорошего' айтема: {ret[0][2].shape}")
print(f"вектор 'плохого' айтема: {ret[0][3].shape}")
print()
print(f"вектор фичей юзера: {ret[1][0].shape}")
print(f"вектор взаимодействий юзера с айтемами: {ret[1][1].shape}")

вектор фичей юзера: (1024, 19)
вектор взаимодействий юзера с айтемами: (1024, 6897)
вектор 'хорошего' айтема: (1024, 8588)
вектор 'плохого' айтема: (1024, 8588)

вектор фичей юзера: (1024, 19)
вектор взаимодействий юзера с айтемами: (1024, 6897)

In [58]:
ret[0][0]

array([[False, False,  True, ..., False,  True, False],
       [False,  True, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       ...,
       [False, False,  True, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       [False, False,  True, ..., False,  True, False]])

### Сделайте генаратор, который будет использовать информацию о качестве взаимодействия юзеров с айтемами для более репрезентативного сэмплирования

In [51]:
N_FACTORS = 128

# в датасетах есть столбец user_id/item_id, помним, что он не является фичей для обучения!
ITEM_MODEL_SHAPE = (items_ohe_df.drop(["item_id"], axis=1).shape[1], ) 
USER_META_MODEL_SHAPE = (users_ohe_df.drop(["user_id"], axis=1).shape[1], )

USER_INTERACTION_MODEL_SHAPE = (interactions_vec.shape[1], )

print(f"N_FACTORS: {N_FACTORS}")
print(f"ITEM_MODEL_SHAPE: {ITEM_MODEL_SHAPE}")
print(f"USER_META_MODEL_SHAPE: {USER_META_MODEL_SHAPE}")
print(f"USER_INTERACTION_MODEL_SHAPE: {USER_INTERACTION_MODEL_SHAPE}")

N_FACTORS: 128
ITEM_MODEL_SHAPE: (8588,)
USER_META_MODEL_SHAPE: (19,)
USER_INTERACTION_MODEL_SHAPE: (6897,)

In [52]:
def item_model(n_factors=N_FACTORS):
    # входной слой
    inp = keras.layers.Input(shape=ITEM_MODEL_SHAPE)
    
    # полносвязный слой
    layer_1 = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                               kernel_regularizer=keras.regularizers.l2(1e-6),
                               activity_regularizer=keras.regularizers.l2(l2=1e-6))(inp)

    # делаем residual connection - складываем два слоя, 
    # чтобы градиенты не затухали во время обучения
    layer_2 = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                             kernel_regularizer=keras.regularizers.l2(1e-6),
                             activity_regularizer=keras.regularizers.l2(l2=1e-6))(layer_1)
    
    add = keras.layers.Add()([layer_1, layer_2])
    
    # выходной слой
    out = keras.layers.Dense(N_FACTORS, activation='linear', use_bias=False,
                             kernel_regularizer=keras.regularizers.l2(1e-6),
                             activity_regularizer=keras.regularizers.l2(l2=1e-6))(add)
    
    return keras.models.Model(inp, out)


def user_model(n_factors=N_FACTORS):
    # входной слой для вектора фичей юзера (из users_ohe_df)
    inp_meta = keras.layers.Input(shape=USER_META_MODEL_SHAPE)
    # входной слой для вектора просмотров (из iteractions_vec)
    inp_interaction = keras.layers.Input(shape=USER_INTERACTION_MODEL_SHAPE)

    # полносвязный слой
    layer_1_meta = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                                 kernel_regularizer=keras.regularizers.l2(1e-6),
                                 activity_regularizer=keras.regularizers.l2(l2=1e-6))(inp_meta)

    layer_1_interaction = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                                 kernel_regularizer=keras.regularizers.l2(1e-6),
                                 activity_regularizer=keras.regularizers.l2(l2=1e-6))(inp_interaction)

    # делаем residual connection - складываем два слоя,
    # чтобы градиенты не затухали во время обучения
    layer_2_meta = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                                 kernel_regularizer=keras.regularizers.l2(1e-6),
                                 activity_regularizer=keras.regularizers.l2(l2=1e-6))(layer_1_meta)
    

    add = keras.layers.Add()([layer_1_meta, layer_2_meta])
    
    # конкатенируем вектор фичей с вектором просмотров
    concat_meta_interaction = keras.layers.Concatenate()([add, layer_1_interaction])
    
    # выходной слой
    out = keras.layers.Dense(N_FACTORS, activation='linear', use_bias=False,
                             kernel_regularizer=keras.regularizers.l2(1e-6),
                             activity_regularizer=keras.regularizers.l2(l2=1e-6))(concat_meta_interaction)
    
    return keras.models.Model([inp_meta, inp_interaction], out)

# инициализируем модели юзера и айтема
i2v = item_model()
u2v = user_model()

# вход для вектора фичей юзера (из users_ohe_df)
ancor_meta_in = keras.layers.Input(shape=USER_META_MODEL_SHAPE)
# вход для вектора просмотра юзера (из interactions_vec)
ancor_interaction_in = keras.layers.Input(shape=USER_INTERACTION_MODEL_SHAPE)

# вход для вектора "хорошего" айтема
pos_in = keras.layers.Input(shape=ITEM_MODEL_SHAPE)
# вход для вектора "плохого" айтема
neg_in = keras.layers.Input(shape=ITEM_MODEL_SHAPE)

# получаем вектор юзера
ancor = u2v([ancor_meta_in, ancor_interaction_in])
# получаем вектор "хорошего" айтема
pos = i2v(pos_in)
# получаем вектор "плохого" айтема
neg = i2v(neg_in)

# конкатенируем полученные векторы
res = keras.layers.Concatenate(name="concat_ancor_pos_neg")([ancor, pos, neg])

# собираем модель
model = keras.models.Model([ancor_meta_in, ancor_interaction_in, pos_in, neg_in], res)

### Попробуйте передать текстовые признаки в модель

In [53]:
model_name = 'recsys_resnet_linear'

# логируем процесс обучения в тензорборд
t_board = keras.callbacks.TensorBoard(log_dir=f'runs/{model_name}')

# уменьшаем learning_rate, если лосс долго не уменьшается (в течение двух эпох)
decay = keras.callbacks.ReduceLROnPlateau(monitor='loss', patience=2, factor=0.8, verbose=1)

# сохраняем модель после каждой эпохи, если лосс уменьшился
check = keras.callbacks.ModelCheckpoint(filepath=model_name + '/epoch{epoch}-{loss:.2f}.h5', monitor="loss")

In [54]:
# компилируем модель, используем оптимайзер Adam и triplet loss
opt = keras.optimizers.Adam(lr=0.001)
model.compile(loss=triplet_loss, optimizer=opt)

In [55]:
# модель айтема
item_model().summary()

Model: "model_8"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_18 (InputLayer)       [(None, 8588)]               0         []

 dense_21 (Dense)            (None, 128)                  1099264   ['input_18[0][0]']

 dense_22 (Dense)            (None, 128)                  16384     ['dense_21[0][0]']

 add_6 (Add)                 (None, 128)                  0         ['dense_21[0][0]',
                                                                     'dense_22[0][0]']

 dense_23 (Dense)            (None, 128)                  16384     ['add_6[0][0]']

==================================================================================================
Total params: 1132032 (4.32 MB)
Trainable params: 1132032 (4.32 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [56]:
# модель юзера
user_model().summary()

Model: "model_9"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_19 (InputLayer)       [(None, 19)]                 0         []

 dense_24 (Dense)            (None, 128)                  2432      ['input_19[0][0]']

 dense_26 (Dense)            (None, 128)                  16384     ['dense_24[0][0]']

 input_20 (InputLayer)       [(None, 6897)]               0         []

 add_7 (Add)                 (None, 128)                  0         ['dense_24[0][0]',
                                                                     'dense_26[0][0]']

 dense_25 (Dense)            (None, 128)                  882816    ['input_20[0][0]']

 concatenate_3 (Concatenate  (None, 256)                  0         ['add_7[0][0]',
 )                                                                   'dense_25[0][0]']

 dense_27 (Dense)            (None, 128)                  32768     ['concatenate_3[0][0]']

==================================================================================================
Total params: 934400 (3.56 MB)
Trainable params: 934400 (3.56 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [57]:
# общая модель
model.summary()

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_14 (InputLayer)       [(None, 19)]                 0         []

 input_15 (InputLayer)       [(None, 6897)]               0         []

 input_16 (InputLayer)       [(None, 8588)]               0         []

 input_17 (InputLayer)       [(None, 8588)]               0         []

 model_6 (Functional)        (None, 128)                  934400    ['input_14[0][0]',
                                                                     'input_15[0][0]']

 model_5 (Functional)        (None, 128)                  1132032   ['input_16[0][0]',
                                                                     'input_17[0][0]']

 concat_ancor_pos_neg (Conc  (None, 384)                  0         ['model_6[0][0]',
 atenate)                                                            'model_5[0][0]',
                                                                     'model_5[1][0]']

==================================================================================================
Total params: 2066432 (7.88 MB)
Trainable params: 2066432 (7.88 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [58]:
# начинаем обучение, не забывая дропнуть столбцы item_id и user_id 
# из датафреймов при инициализации генератора.

# batch_size можно (и лучше) поставить побольше, если вы не органичены в ресурсах

model.fit(generator(items=items_ohe_df.drop(["item_id"], axis=1), 
                    users=users_ohe_df.drop(["user_id"], axis=1), 
                    interactions=interactions_vec,
                    batch_size=64), 
          steps_per_epoch=100, 
          epochs=30, 
          initial_epoch=0,
          callbacks=[decay, t_board, check]
)

Epoch 1/30
100/100 [==============================] - 18s 132ms/step - loss: 0.2954 - lr: 0.0010
Epoch 2/30
100/100 [==============================] - 13s 132ms/step - loss: 0.2247 - lr: 0.0010
Epoch 3/30
100/100 [==============================] - 13s 134ms/step - loss: 0.2041 - lr: 0.0010
Epoch 4/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1821 - lr: 0.0010
Epoch 5/30
100/100 [==============================] - 13s 131ms/step - loss: 0.1794 - lr: 0.0010
Epoch 6/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1772 - lr: 0.0010
Epoch 7/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1608 - lr: 0.0010
Epoch 8/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1648 - lr: 0.0010
Epoch 9/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1585 - lr: 0.0010
Epoch 10/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1489 - lr: 0.0010
Epoch 11/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1499 - lr: 0.0010
Epoch 12/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1473 - lr: 0.0010
Epoch 13/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1432 - lr: 0.0010
Epoch 14/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1412 - lr: 0.0010
Epoch 15/30
100/100 [==============================] - 13s 136ms/step - loss: 0.1404 - lr: 0.0010
Epoch 16/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1415 - lr: 0.0010
Epoch 17/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1343 - lr: 0.0010
Epoch 18/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1363 - lr: 0.0010
Epoch 19/30
100/100 [==============================] - ETA: 0s - loss: 0.1347
Epoch 19: ReduceLROnPlateau reducing learning rate to 0.000800000037997961.
100/100 [==============================] - 14s 137ms/step - loss: 0.1347 - lr: 0.0010
Epoch 20/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1315 - lr: 8.0000e-04
Epoch 21/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1267 - lr: 8.0000e-04
Epoch 22/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1268 - lr: 8.0000e-04
Epoch 23/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1235 - lr: 8.0000e-04
Epoch 24/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1275 - lr: 8.0000e-04
Epoch 25/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1231 - lr: 8.0000e-04
Epoch 26/30
100/100 [==============================] - 13s 134ms/step - loss: 0.1192 - lr: 8.0000e-04
Epoch 27/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1196 - lr: 8.0000e-04
Epoch 28/30
100/100 [==============================] - ETA: 0s - loss: 0.1211
Epoch 28: ReduceLROnPlateau reducing learning rate to 0.0006400000303983689.
100/100 [==============================] - 13s 134ms/step - loss: 0.1211 - lr: 8.0000e-04
Epoch 29/30
100/100 [==============================] - 13s 133ms/step - loss: 0.1187 - lr: 6.4000e-04
Epoch 30/30
100/100 [==============================] - 13s 132ms/step - loss: 0.1123 - lr: 6.4000e-04

In [86]:
# берем рандомного юзера
rand_uid = np.random.choice(list(users_ohe_df.index))

# получаем фичи юзера и вектор его просмотров айтемов
user_meta_feats = users_ohe_df.drop(["user_id"], axis=1).iloc[rand_uid]
user_interaction_vec = interactions_vec[rand_uid]

# берем рандомный айтем
rand_iid = np.random.choice(list(items_ohe_df.index))
# получаем фичи айтема
item_feats = items_ohe_df.drop(["item_id"], axis=1).iloc[rand_iid]

# получаем вектор юзера
user_vec = u2v.predict([np.array(user_meta_feats).reshape(1, -1), 
                        np.array(user_interaction_vec).reshape(1, -1)])

# и вектор айтема
item_vec = i2v.predict(np.array(item_feats).reshape(1, -1))

# считаем расстояние между вектором юзера и вектором айтема
from sklearn.metrics.pairwise import euclidean_distances as ED

ED(user_vec, item_vec)

1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 19ms/step

array([[1.9413333]], dtype=float32)

In [61]:
# получаем фичи всех айтемов
items_feats = items_ohe_df.drop(["item_id"], axis=1).to_numpy()
# получаем векторы всех айтемов
items_vecs = i2v.predict(items_feats)

# считаем расстояния
dists = ED(user_vec, items_vecs)

216/216 [==============================] - 0s 1ms/step

In [87]:
items_vecs.shape

(6897, 128)

In [88]:
users_meta_feats = users_ohe_df.drop(["user_id"], axis=1)
users_interaction_vec = interactions_vec

In [89]:
users_meta_feats.shape

(65974, 19)

In [65]:
users_interaction_vec.shape

(65974, 6897)

In [66]:
np.array(users_meta_feats).shape

(65974, 19)

In [90]:
users_vec = u2v.predict([np.array(users_meta_feats), 
                        np.array(users_interaction_vec)])

2062/2062 [==============================] - 3s 2ms/step

In [68]:
users_vec.shape

(65974, 128)

In [91]:
items_vecs.shape

(6897, 128)

In [92]:
dists = ED(users_vec, items_vecs)

In [93]:
dists.shape

(65974, 6897)

In [94]:
top10_iids = np.argsort(dists, axis=1)[:,:10]

In [95]:
top10_iids.reshape(dists.shape[0], 10).shape

(65974, 10)

In [104]:
top10_iids

array([[6751, 2227, 3868, ..., 5297, 5489, 2325],
       [1533, 3574, 3067, ..., 4461, 2271, 4320],
       [1533, 3574, 2271, ..., 5418, 2653, 6403],
       ...,
       [6253,  228, 1292, ..., 1447, 6751, 5489],
       [5048, 1533, 1849, ...,  732, 6482,  464],
       [ 746, 3804, 2354, ..., 4001,   32, 1617]])

In [97]:
top10_iids.shape

(65974, 10)

In [105]:
top10_iids_item = [iid_to_item_id[iid] for iid in top10_iids.reshape(-1)]

In [106]:
top10_iids_item = np.array(top10_iids_item).reshape(top10_iids.shape)

In [107]:
top10_iids_item.shape

(65974, 10)

In [108]:
df_dssm = pd.DataFrame(columns = ['user_id', 'item_id'])

In [110]:
df_dssm = pd.DataFrame({'user_id': [uid_to_user_id[uid] for uid in np.arange(top10_iids_item.shape[0])]})

In [111]:
df_dssm['item_id'] = list(top10_iids_item)

In [112]:
df_dssm = df_dssm.explode('item_id')
df_dssm['rank'] = df_dssm.groupby('user_id').cumcount() + 1
df_dssm = df_dssm.groupby('user_id').agg({'item_id': list}).reset_index()

In [116]:
df_dssm.to_csv('baselinedsmm.csv')

In [125]:
submission = pd.read_csv('/kaggle/input/kion-dataset/sample_submission.csv')

In [126]:
df_dssm_subm = df_dssm[df_dssm['user_id'].isin(submission['user_id'])]

In [128]:
df_dssm_subm = df_dssm_subm.explode('item_id')
df_dssm_subm['rank'] = df_dssm_subm.groupby('user_id').cumcount() + 1

In [129]:
df_dssm_subm.head()

   user_id item_id  rank
5       93    3734     1
5       93    8636     2
5       93    4457     3
5       93    1844     4
5       93    3935     5

In [130]:
class PopularRecommender():
    def __init__(self, max_K=10, days=30, item_column='item_id', dt_column='date'):
        self.max_K = max_K
        self.days = days
        self.item_column = item_column
        self.dt_column = dt_column
        self.recommendations = []
        
    def fit(self, df, ):
        min_date = df[self.dt_column].max().normalize() - pd.DateOffset(days=self.days)
        self.recommendations = df.loc[df[self.dt_column] > min_date, self.item_column].value_counts().head(self.max_K).index.values
    
    def recommend(self, users=None, N=10):
        recs = self.recommendations[:N]
        if users is None:
            return recs
        else:
            return list(islice(cycle([recs]), len(users)))

In [131]:
interactions_df = pd.read_csv('/kaggle/input/processed/interactions_processed_kion.csv', parse_dates=['last_watch_dt'])

In [132]:
from itertools import islice, cycle

In [134]:
train = interactions_df
test = submission

pop_model = PopularRecommender(days=10, dt_column='last_watch_dt')
pop_model.fit(train)

recs = pd.DataFrame({'user_id': test['user_id'].unique()})
recs['item_id'] = pop_model.recommend(recs['user_id'], N=10)
recs = recs.explode('item_id')
recs['rank'] = recs.groupby('user_id').cumcount() + 1
#recs = recs.groupby('user_id').agg({'item_id': list}).reset_index()

In [138]:
recs.head(10)

   user_id item_id  rank
0        3    9728     1
0        3   10440     2
0        3   15297     3
0        3   13865     4
0        3   12360     5
0        3   12192     6
0        3   14488     7
0        3    4151     8
0        3     341     9
0        3     512    10

In [139]:
recs

        user_id item_id  rank
0             3    9728     1
0             3   10440     2
0             3   15297     3
0             3   13865     4
0             3   12360     5
...         ...     ...   ...
193112  1097558   12192     6
193112  1097558   14488     7
193112  1097558    4151     8
193112  1097558     341     9
193112  1097558     512    10

[1931130 rows x 3 columns]

In [91]:
recs_pop = recs[~recs['user_id'].isin(df_dssm_subm['user_id'].tolist())]

In [107]:
recs_all = pd.concat([recs_pop, df_dssm_subm], axis = 0)

In [108]:
recs_all.shape

(1931130, 3)

In [112]:
recs_all.head()

   user_id item_id  rank
0        3    9728     1
0        3   10440     2
0        3   15297     3
0        3   13865     4
0        3   12360     5